@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

.popular {
    h2 {
        font-family: 'Happy Monkey', cursive;
        font-size: 40px;
        margin-left: 10px;
    }
}