.App {
    margin: 0;
    background-color: rgb(25, 25, 25);
    min-height: 100%;
    color: rgb(225, 225, 225);
}

.navBar {
    float: left;
}

main {
    float: left;
    width: calc(100% - 70px);
    padding-left: 20px;

    &::after {
        content: '';
    }
}